body{
    margin: 0%;
    padding: 0%;
    background: radial-gradient(circle at 50% 50%, #ffcccb, #ff4f58, #ad3f32); /* Màu đỏ ấm */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    overflow: hidden;
}
@media (max-width: 768px) {
    body {
        /* Cân chỉnh lại kích thước nền cho điện thoại */
        background-size: 150% 150%; /* Làm cho nền lớn hơn trên các màn hình nhỏ */
        overflow: auto; /* Cho phép cuộn trang nếu nội dung dài */
    }
    #tree-title {
        position: absolute;
        top: 5%; /* Đẩy cây thông xuống giữa màn hình */
        left: 55%;
        transform: translate(-50%, 0); /* Căn giữa */
    }
    .arrow {
        position: relative;
        top: 0; /* Đặt ở góc trên cùng của màn hình */
        left: 50%; /* Đặt ở giữa màn hình */
        right: auto; /* Loại bỏ giá trị right */
        transform: translate(-50%, 0); /* Căn giữa theo chiều ngang */
    }

    .arrow-text {
        font-size: 1rem; /* Giảm kích thước chữ nếu cần */
    }

    .arrow-icon {
        border-top: 10px solid #fff; /* Thu nhỏ mũi tên nếu cần */
        transform: rotate(0deg);
    }
    #tree-block{
        display:none;
    }
}
#tree{
    z-index: -1; /* Đưa cây thông xuống dưới */
    width: 100vw;
    height: 100vh;
    position: absolute; /* Định vị tuyệt đối */
    left: -35%; /* Di chuyển cây sang bên trái (có thể thay đổi giá trị) */
    top: 10%; /* Đặt vị trí cây cách đỉnh (có thể thay đổi giá trị) */
    margin: 0 auto;
    padding-top: 10px;
    transform: scale(0.5); /* Thu nhỏ kích thước cây */
}
#canvas{
    position: absolute;
    z-index: -1; /* Đưa cây thông xuống dưới */
    height: 100vh;
    width: 100vw;
}
.red{
    fill: #aa1231;
    -webkit-animation: 0.6s red-flash ease-in-out infinite;
    animation: 0.6s red-flash ease-in-out infinite;
}
@-webkit-keyframes red-flash{
    40%{
        fill: #ea385c;
    }
    80%{
        fill: #aa1231;
    }
}
@keyframes red-flash{
    40%{
        fill: #ea385c;
    }
    80%{
        fill: #aa1231;
    }
}
.gold-lt{
    fill: #c1881c;
    -webkit-animation: 0.6s gold-lt-flash ease-in-out infinite;
    animation: 0.6s gold-lt-flash ease-in-out infinite;
}
@-webkit-keyframes gold-lt-flash{
    40%{
        fill: #e7b75c;
    }
    80%{
        fill: #c1881c;
    }
}
@keyframes gold-lt-flash{
    40%{
        fill: #e7b75c;
    }
    80%{
        fill: #c1881c;
    }
}
.blue-lt{
    fill: #1f3e64;
    -webkit-animation: 0.6s blue-lt-flash ease-in-out infinite;
    animation: 0.6s blue-lt-flash ease-in-out infinite;
}
@-webkit-keyframes blue-lt-flash{
    40%{
        fill: #386fb1;
    }
    80%{
        fill: #1f3e64;
    }
}
@keyframes blue-lt-flash{
    40%{
        fill: #386fb1;
    }
    80%{
        fill: #1f3e64;
    }
}
.blue-dk{
    fill: #0f1f2f;
    -webkit-animation: 0.6s blue-dk-flash ease-in-out infinite;
    animation: 0.6s blue-dk-flash ease-in-out infinite;
}
@-webkit-keyframes blue-dk-flash{
    40%{
        fill: #28527c;
    }
    80%{
        fill: #0f1f2f;
    }
}
@keyframes blue-dk-flash{
    40%{
        fill: #28527c;
    }
    80%{
        fill: #0f1f2f;
    }
}
.gold-dk{
    fill: #69512a;
    -webkit-animation: 0.6s gold-dk-flash ease-in-out infinite;
    animation: 0.6s gold-dk-flash ease-in-out infinite;
}
@-webkit-keyframes gold-dk-flash{
    40%{
        fill: #b28947;
    }
    80%{
        fill: #69512a;
    }
}
@keyframes gold-dk-flash{
    40%{
        fill: #b28947;
    }
    80%{
        fill: #69512a;
    }
}
.g1{
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.g2{
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.g3{
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}
.tree-title {
    position: absolute;
    top: 10%; /* Điều chỉnh khoảng cách từ trên xuống */
    left: 17%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
